In [1]:
import numpy as np
import pandas as pd

In [3]:
from pandas import Series,DataFrame

In [5]:
series_obj=Series(np.arange(8),index=['row 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [6]:
series_obj['row 7']

6

In [7]:
series_obj[[0,7]]

row 1    0
row 8    7
dtype: int64

In [8]:
np.random.seed(25)

In [11]:
DF_obj=DataFrame(np.random.rand(36).reshape((6,6)),index=['row 1','row 2','row 3','row 4','row 5','row 6'],columns=['column 1','column 2','column 3','column 4','column 5','column 6'])

In [12]:
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [15]:
DF_obj.plot()

In [16]:
DF_obj.ix[['row 2'],['column 3','column 4']]

       column 3  column 4
row 2  0.556229   0.36708

In [17]:
series_obj['row 2': 'row 7']

row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

In [18]:
DF_obj>1

      column 1 column 2 column 3 column 4 column 5 column 6
row 1    False    False    False    False    False    False
row 2    False    False    False    False    False    False
row 3    False    False    False    False    False    False
row 4    False    False    False    False    False    False
row 5    False    False    False    False    False    False
row 6    False    False    False    False    False    False

In [19]:
DF_obj>0.1

      column 1 column 2 column 3 column 4 column 5 column 6
row 1     True     True     True     True     True     True
row 2     True     True     True     True     True     True
row 3     True     True     True     True     True     True
row 4     True     True     True     True     True     True
row 5     True     True    False     True     True     True
row 6     True     True     True     True     True     True

In [20]:
series_obj[series_obj>6]

row 8    7
dtype: int64

In [22]:
series_obj['row 1','row 5']=8

In [23]:
series_obj

row 1    8
row 2    1
row 3    2
row 4    3
row 5    8
row 6    5
row 7    6
row 8    7
dtype: int64

In [1]:
import numpy as np
import pandas as pd

In [2]:
missing=np.nan

In [4]:
from pandas import Series,DataFrame
series_obj=Series(['row 1','row 2',missing,'row 4','row 5',missing,'row 7','row 8'])

In [5]:
series_obj

0    row 1
1    row 2
2      NaN
3    row 4
4    row 5
5      NaN
6    row 7
7    row 8
dtype: object

In [7]:
series_obj.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [8]:
np.random.seed(25)
DF_obj=DataFrame(np.random.randn(36).reshape((6,6)))

In [9]:
DF_obj

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734 -0.232312
2  2.152957 -1.334661  0.076380 -1.246089  1.202272 -1.049942
3  1.056610 -0.419678  2.294842 -2.594487  2.822756  0.680889
4 -1.577693 -1.976254  0.533340 -0.290870 -0.513520  1.982626
5  0.226001 -1.839905  1.607671  0.388292  0.399732  0.405477

In [10]:
DF_obj.ix[3:5,0]=missing
DF_obj.ix[1:4,5]=missing

In [11]:
DF_obj

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734       NaN
2  2.152957 -1.334661  0.076380 -1.246089  1.202272       NaN
3       NaN -0.419678  2.294842 -2.594487  2.822756       NaN
4       NaN -1.976254  0.533340 -0.290870 -0.513520       NaN
5       NaN -1.839905  1.607671  0.388292  0.399732  0.405477

In [12]:
filled_DF=DF_obj.fillna(0)

In [13]:
filled_DF

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734  0.000000
2  2.152957 -1.334661  0.076380 -1.246089  1.202272  0.000000
3  0.000000 -0.419678  2.294842 -2.594487  2.822756  0.000000
4  0.000000 -1.976254  0.533340 -0.290870 -0.513520  0.000000
5  0.000000 -1.839905  1.607671  0.388292  0.399732  0.405477

In [15]:
filled_DF=DF_obj.fillna({0:0.1,5:1.25})

In [16]:
filled_DF

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734  1.250000
2  2.152957 -1.334661  0.076380 -1.246089  1.202272  1.250000
3  0.100000 -0.419678  2.294842 -2.594487  2.822756  1.250000
4  0.100000 -1.976254  0.533340 -0.290870 -0.513520  1.250000
5  0.100000 -1.839905  1.607671  0.388292  0.399732  0.405477

In [17]:
filled_DF=DF_obj.fillna(method='ffill')

In [18]:
filled_DF

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734 -0.222326
2  2.152957 -1.334661  0.076380 -1.246089  1.202272 -0.222326
3  2.152957 -0.419678  2.294842 -2.594487  2.822756 -0.222326
4  2.152957 -1.976254  0.533340 -0.290870 -0.513520 -0.222326
5  2.152957 -1.839905  1.607671  0.388292  0.399732  0.405477

In [19]:
DF_obj.isnull().sum()

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

In [20]:
DF_no_NaN=DF_obj.dropna()

In [21]:
DF_no_NaN

          0        1         2         3         4         5
0  0.228273  1.02689 -0.839585 -0.591182 -0.956888 -0.222326

In [22]:
DF_all=DF_obj.dropna(how='all')

In [23]:
DF_all

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734       NaN
2  2.152957 -1.334661  0.076380 -1.246089  1.202272       NaN
3       NaN -0.419678  2.294842 -2.594487  2.822756       NaN
4       NaN -1.976254  0.533340 -0.290870 -0.513520       NaN
5       NaN -1.839905  1.607671  0.388292  0.399732  0.405477

In [26]:
DF_obj=DataFrame({'column 1':[1,1,2,2,3,3,3],
                 'column 2':['a','a','b','b','c','c','c'],
                 'column 3':['A','A','B','B','C','C','C']})

In [27]:
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [28]:
DF_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [29]:
DF_obj.drop_duplicates()

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C

In [30]:
DF_obj.drop_duplicates(['column 3'])

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C

In [34]:
DF_obj=pd.DataFrame(np.arange(36).reshape((6,6)))

In [35]:
DF_obj

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [36]:
DF_obj_2=pd.DataFrame(np.arange(15).reshape(5,3))

In [37]:
DF_obj_2

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [38]:
pd.concat([DF_obj,DF_obj_2],axis=1)

    0   1   2   3   4   5     0     1     2
0   0   1   2   3   4   5   0.0   1.0   2.0
1   6   7   8   9  10  11   3.0   4.0   5.0
2  12  13  14  15  16  17   6.0   7.0   8.0
3  18  19  20  21  22  23   9.0  10.0  11.0
4  24  25  26  27  28  29  12.0  13.0  14.0
5  30  31  32  33  34  35   NaN   NaN   NaN

In [39]:
pd.concat([DF_obj,DF_obj_2])

    0   1   2     3     4     5
0   0   1   2   3.0   4.0   5.0
1   6   7   8   9.0  10.0  11.0
2  12  13  14  15.0  16.0  17.0
3  18  19  20  21.0  22.0  23.0
4  24  25  26  27.0  28.0  29.0
5  30  31  32  33.0  34.0  35.0
0   0   1   2   NaN   NaN   NaN
1   3   4   5   NaN   NaN   NaN
2   6   7   8   NaN   NaN   NaN
3   9  10  11   NaN   NaN   NaN
4  12  13  14   NaN   NaN   NaN

In [40]:
DF_obj.drop([0,2])

    0   1   2   3   4   5
1   6   7   8   9  10  11
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [42]:
DF_obj.drop([0,2],axis=1)

    1   3   4   5
0   1   3   4   5
1   7   9  10  11
2  13  15  16  17
3  19  21  22  23
4  25  27  28  29
5  31  33  34  35

In [43]:
series=Series(np.arange(6))

In [47]:
series.name='added_variable'

In [48]:
series

0    0
1    1
2    2
3    3
4    4
5    5
Name: added_variable, dtype: int64

In [52]:
variables_added=DataFrame.join(DF_obj,series)

In [53]:
variables_added

    0   1   2   3   4   5  added_variable
0   0   1   2   3   4   5               0
1   6   7   8   9  10  11               1
2  12  13  14  15  16  17               2
3  18  19  20  21  22  23               3
4  24  25  26  27  28  29               4
5  30  31  32  33  34  35               5

In [54]:
added_datatable=variables_added.append(variables_added,ignore_index=False)

In [55]:
added_datatable

    0   1   2   3   4   5  added_variable
0   0   1   2   3   4   5               0
1   6   7   8   9  10  11               1
2  12  13  14  15  16  17               2
3  18  19  20  21  22  23               3
4  24  25  26  27  28  29               4
5  30  31  32  33  34  35               5
0   0   1   2   3   4   5               0
1   6   7   8   9  10  11               1
2  12  13  14  15  16  17               2
3  18  19  20  21  22  23               3
4  24  25  26  27  28  29               4
5  30  31  32  33  34  35               5

In [59]:
DF_obj.sort_values(by=[5],ascending=[False])

    0   1   2   3   4   5
5  30  31  32  33  34  35
4  24  25  26  27  28  29
3  18  19  20  21  22  23
2  12  13  14  15  16  17
1   6   7   8   9  10  11
0   0   1   2   3   4   5

In [61]:
! pip install Seaborn

Requirement already satisfied: Seaborn in /anaconda/lib/python2.7/site-packages